@charset "EUC-KR";
*{
	font-family:sans-serif;
}
.headbox{
	background: #000;
}
.head{
	position: relative;
	margin: 0 auto;
	width: 1080px;
	text-align: right;
}
.head ul{
	display: inline-flex;
	list-style:none;
}
.head ul li{
	margin-left:10px;
}
.head ul li a{
	color: #fff;
	text-decoration: none;
}
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
#searchbox{
	background: #000;
}
#search{
	position: relative;
	margin: 0 auto;
	width: 1080px;

}

#search h1 {
	width:200px;/* 이미지나 글자의 가로 길이 */
	height:50px;/* 이미지나 글자의 세로 넓이 */
	display:inline-block;
	/* background-image: url('images/logo.png');
	background-position: -4px -10px;-는 좌에서 위에서, +는 반대로
	background-repeat: no-repeat;공간이 있을경우 이미지 반복 x  */
	/*↓ 코드 줄임*/
	background: url('images/minilogo.png') -1px -1px no-repeat;/* logo.png 크기 수정, 구글 검사에서 위치 조절 가능함. */
	/*글자 안보이게 하는 방법  */
	text-indent: 100%; /* 글자 들여쓰기 */
	overflow:hidden;/* 바깥으로 나가건 안보이게 해줌 */
	/*  */
	
}
#search a{
	text-decoration: none;/* a태그는 밑줄이 생길수 있는데 그걸 안보이게 해줌 */
}

#search h2 {
	display: none;
	
}
.searchtxt{
	position: relative;
    left: -16px;
    top: -13px;
    width: 458px;
    height: 72px;
}

#search fieldset {
	margin-left:20px;
	/* padding-top:12px;
	padding-bottom:12px;
	padding-left:10px;
	padding-right:0; 
	      ↓ 코드 줄임*/
	padding: 12px 0 12px 10px;    
	border: 3px solid  #0fa5dd;
	width: 521px;
	height: 49px;
	display:inline-block;
	vertical-align: middle;
	position: relative;
	top: -40px;
}
#search fieldset input{
	border: none;
	padding: 0;
	outline: none;
}
#search fieldset button{
	width: 75px;
	height: 77px;
	border: none;
	padding:0;
	background:#0fa5dd;
	position:absolute;
	right: -2px;
	top:-2px;
	color: #fff;
	
}
#search fieldset select{
	background: #fff;
    position: relative;
    top: -12px;
    left: -10px;
    padding: 27px 0px 25px 0px;
}

#search-image{
	/* Zerocho TV 3-4 검색버튼 만들기  */
	/* background-image:url();
	background-position: 11px -45px; 이미지 위치 잡기
	background-repeat: no-repeat;
	background-size: 30px 30px; 이미지 크기 조절
	width: 21px;
	height: 21px;
	display:inline-block;
	margin: 14px; */
	/*  */
}
#menubox{
	position:relative;
	top: 0px;
	width:100%;
	background: #2d2d2d;
}
#menubox nav{
	margin: 0 auto;
    width: 1080px;
    position: relative;
    top: 0px;
    height: 50px
}
#menubox nav ul{
	display:inline-flex;
	list-style: none;
	
}
#menubox nav ul li{
	margin-left:100px;
	
}
#menubox nav ul li a{
	color:#e6e6e6;
	text-decoration: none;
}
#menubox nav ul li:hover{
	margin-left:100px;
	border-bottom: 2px solid #fff;
    height: 32px;
}

main{
	position:relative;
	top: -20px;
	width:100%;
	height: 1850px;
	background:#424242;
}
.list{
	position:relative;
	top:2%;
	margin:20px auto;
	width:1080px;
	height:1450px;
	border-radius:10px;
	background: #2d2d2d;
	padding:20px 20px 20px 20px;
	
	display:flex;	
	
}
.listimage{
	display:flex;
	float:left;
}
.listimage img{
	position:relative;
	margin:0px 15px 10px 0px;
	border:1px solid #fff;
	width:200px;
	height:300px;
}
