
@charset "UTF-8";
*{
	font-family:sans-serif;
}
.blank2{
	position:absolute;
	bottom:0%;
	height:100px;
	width: 100%;
	background: #000;
	background:rgb(0,0,);
}
.headbox{
	background: #000;
}
.head{
	position: relative;
	margin: 0 auto;
	width: 1080px;
	text-align: right;
}
.head ul{
	display: inline-flex;
	list-style:none;
}
.head ul li{
	margin-left:10px;
}
.head ul li a{
	color: #fff;
	text-decoration: none;
}
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
#searchbox{
	background: #000;
}
#search{
	position: relative;
	margin: 0 auto;
	width: 1080px;

}

#search h1 {
	width:200px;/* 이미지나 글자의 가로 길이 */
	height:50px;/* 이미지나 글자의 세로 넓이 */
	display:inline-block;
	/* background-image: url('images/logo.png');
	background-position: -4px -10px;-는 좌에서 위에서, +는 반대로
	background-repeat: no-repeat;공간이 있을경우 이미지 반복 x  */
	/*↓ 코드 줄임*/
	background: url('/fom/images/minilogo.png') -1px -1px no-repeat;/* logo.png 크기 수정, 구글 검사에서 위치 조절 가능함. */
	/*글자 안보이게 하는 방법  */
	text-indent: 100%; /* 글자 들여쓰기 */
	overflow:hidden;/* 바깥으로 나가건 안보이게 해줌 */
	/*  */
	
}
#search a{
	text-decoration: none;/* a태그는 밑줄이 생길수 있는데 그걸 안보이게 해줌 */
}

#search h2 {
	display: none;
	
}
.searchtxt{
	position: relative;
	left: -10px;
	top: -12px;
	width: 458px;
	height: 73px;
}

#search fieldset {
	margin-left:20px;
	/* padding-top:12px;
	padding-bottom:12px;
	padding-left:10px;
	padding-right:0; 
	      ↓ 코드 줄임*/
	padding: 12px 0 12px 10px;    
	border: 3px solid  #0fa5dd;
	width: 521px;
	height: 79px;
	display:inline-block;
	vertical-align: middle;
	position: relative;
	top: -40px;
}
#search fieldset input{
	border: none;
	padding: 0;
	outline: none;
}
#search fieldset button{
	width: 75px;
	height: 77px;
	border: none;
	padding:0;
	background:#0fa5dd;
	position:absolute;
	right: -2px;
	top:-2px;
	color: #fff;
	
}

#search-image{
	/* Zerocho TV 3-4 검색버튼 만들기  */
	/* background-image:url();
	background-position: 11px -45px; 이미지 위치 잡기
	background-repeat: no-repeat;
	background-size: 30px 30px; 이미지 크기 조절
	width: 21px;
	height: 21px;
	display:inline-block;
	margin: 14px; */
	/*  */
}
#menubox{
	position:relative;
	top: 0px;
	width:100%;
	background: #2d2d2d;
}
#menubox nav{
	margin: 0 auto;
    width: 1080px;
    position: relative;
    top: 12px;
    height: 50px
}
#menubox nav ul{
	display:inline-flex;
	list-style: none;
}
#menubox nav ul li{
	margin-left:100px;
}
#menubox nav ul li a{
	color:#e6e6e6;
	text-decoration: none;
}

main{
	position:relative;
	top: 0px;
	width:100%;
	height: 1850px;
	background:#424242;
}
#box1{
	position:relative;
	top: 10px;
	border-radius:10px;
	background:#2d2d2d;
	width:1080px;
	height:320px;
	margin: 0 auto;
	color: #000;
	display:block;
}
#imagebox{
	position:absolute;
	top: 10px;
	border-right: 1px solid #fff;
	margin: 10px 10px 10px 10px;
	height: 270px;
	width: 400px;
	display: inline-block;
	text-align:center;
	
}
#imagebox i{
	font-size: 5rem;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color: #949494;
	border-bottom: 4px solid gray;

}
#imagebox p{
	position:absolute;
	top:70%;
	left:50%;
	transform: translate(-50%,-70%);
	color:#fff;
}
#editbox button{
	width: 49px;
	height: 49px;
	border: none;
	padding:0;
	background:#0fa5dd;
	position:absolute;
	right: -2px;
	top:-2px;
	color: #fff;
}

#memberinfo{
	position: absolute;
    top: 19px;
    left: 43%;
    height: 270px;
    width: 600px;
    display: inline-block;
    text-align: center;
}
#editbox{
	margin-left: 20px;
    padding: 12px 0 12px 10px;
    border: 3px solid #0fa5dd;
    width: 315px;
    height: 51px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

 
#editbox input{
	position: relative;
    left: -23px;
    top: -36px;
    width: 274px;
    height: 48px;
}

#box2{
	position: relative;
    top: 10px;
    border-radius: 10px;
    background: #2d2d2d;
    width: 1080px;
    height: 350px;
    margin: 20px auto;
    color: #fff;
}
.likebox-background{
    position: absolute;
    top: 0px;
    left: 20px;
    margin: 20px auto;
    width: 1040px;
    border: 1px solid #fff;
    overflow: hidden;
    height: 360px;
    color: #fff;
}
#box3{
	position:relative;
	top: 10px;
	border-radius:10px;
	background:#2d2d2d;
	width:1080px;
	height:350px;
	margin: 20px auto;
	color: #fff;
}

#box4{
	position:relative;
	top: 10px;
	border-radius:10px;
	background:#2d2d2d;
	width:1080px;
	height:350px;
	margin: 20px auto;
	color: #fff;
}
#box5{
	position:relative;
	top: 10px;
	border-radius:10px;
	background:#2d2d2d;
	width:1080px;
	height:350px;
	margin: 20px auto;
	color: #fff;
}
#wishbox{
    position: relative;
    top: 10px;
    left: 9px;
    width: 1061px;
    height: 480px;
    color:#fff;
    margin: 25px 10px 10px 0px;
}	
footer{
	position: relative;
    top: 0px;
    width: 100%;
    height: 200px;
    background: #000;
}

.movieslide{
	position: relative;
	width: 1000px;
	height: 300px;
	margin: 25px auto;
	text-align: center;
}
.moviepost{
	width: 100%;
	max-width: 190px;
	vertical-align: middle;
	float:left;
	margin-right:10px;
}